:root {
  --cinza: #aaa;
  --vermelha: #e93d50;
  --vermelha-escura: #af303f;
  --branca: #fff;
  --luz: rgb(229, 255, 0);
}

body {
  align-items: center;
  background: linear-gradient(45deg, blue 0%, red 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

h1 {
  color: var(--branca);
  margin-bottom: 20px;
  font-size: 2rem;
}

.teclado {
  background: linear-gradient(to bottom, yellow 0%, darkgoldenrod 100%);
  box-shadow: 6px 8px 0 6px #916a08, 10px 10px 10px #000;
  border-radius: 30px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
}

.tecla {
  background-color: var(--branca);
  border-radius: 30px;
  box-shadow: 3px 3px 0 var(--cinza);
  color: yellow;
  cursor: pointer;
  height: 120px;
  font-size: 1em;
  font-weight: bold;
  line-height: 120px;
  text-align: center;
  width: 120px;
}

.tecla.ativa,
.tecla:active {
  background-color: var(--vermelha);
  border: 4px solid  var(--vermelha);
  box-shadow: 3px 3px 0 var(--vermelha-escura) inset;
  color: red;
  outline: none;
}

.tecla.focus,
.tecla:focus {
  outline: none;
  box-shadow: 1px 1px 10px var(--luz);
}

.tecla.active:focus,
.tecla:active:focus {
  box-shadow: 3px 3px 0 var(--vermelha-escura) inset, 1px 1px 10px var(--luz);
}

.tecla_2099 {
  background-image: url("../images/miguel\ ohara.gif");
  background-size: 230%;
  background-repeat: no-repeat;
  background-position: -5em;
}

.tecla_atumalaca {
  background-image: url("../images/atumalaca.gif")
}

.tecla_xandão {
  background-image: url("../images/xandão.gif");
  background-position: -5em;
}

.tecla_flamengo {
  background-image: url("../images/flamengo.gif");
  background-position: 1em;
  background-size: 70%;
  background-repeat: no-repeat;
}

.tecla_xaropinho {
  background-image: url("../images/xaropinho.gif");
  background-size: 100%;
  background-repeat: no-repeat;
}

.tecla_kiko {
  background-image: url("../images/kiko.gif");
  background-size: 140%;
  background-repeat: no-repeat;
}

.tecla_chapolin {
  background-image: url("../images/chapolin.gif");
  background-size: 140%;
  background-repeat: no-repeat;
}

.tecla_naoquer {
  background-image: url("../images/chaves.gif");
  background-size: 140%;
  background-repeat: no-repeat;
  background-position: -1.5em;
}

.tecla_fatos {
  background-image: url("../images/fatos.gif");
  background-size: 180%;
  background-repeat: no-repeat;
  background-position: -3.5em;
}